/* Variables definition */
:root {
    --default-padding: 25px;
    --background-color-menu: #2886c5;
    --background-color: #2e4453;
    --background-section: #dddcdc;
    --background-text: #dddcdc;
}

/* Universal selector */
* {
    font-family: Calibri, sans-serif;
    background-color: var(--background-color);
}

/* Element selectors */
header {
    background-color: var(--background-color-menu);
    color: var(--background-text);
}
header h1 {
    background-color: var(--background-color-menu);
    display: inline-block;
    padding: var(--default-padding);
    font-size: 40px;
}

nav {
    background-color: var(--background-color-menu);
    float: right;
    padding: var(--default-padding);
    margin-top: 15px;
}

nav ul {
    background-color: var(--background-color-menu);
    list-style: none;
}

nav ul li {
    background-color: var(--background-color-menu);
    display: inline-block;
    padding: 0 10px;
}

nav ul li a {
    background-color: var(--background-color-menu);
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* Class selectors */
.aboutme, .work, .contact {
    background-color: var(--background-section);
    display: flex;
    flex-flow: row wrap;
    padding: 0 5px;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    padding: var(--default-padding);
    width: 100%;
    height: 100%;
}

.background-project {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.paragraph {
    line-height: 1.5;
    margin: 10px 15px;
    font-size: 18px;
    text-align: justify;
    background-color: var(--background-section);
}

.project-row {
    background-color: var(--background-section);
    flex-basis: 33%;
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
}

.title {
    background-color: var(--background-color);
    position: absolute;
    width: 25%;
    height: 10%;
    bottom: 25px;
    left: 25px;
}

.title-small {
    background-color: var(--background-color);
    position: absolute;
    width: 82%;
    height: 13%;
    bottom: 25px;
    left: 25px;
    padding-top: 5px;
}

.title h3, .title-small h3 {
    position: absolute;
    bottom: 15px;
    left: 0px;
    background-color: var(--background-color);
    color: var(--background-text);
    font-size: 20px;
}

.title p, .title-small p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--background-color);
    color: var(--background-text);
    font-size: 16px;
}

.title-small h3 {
    font-size: 16px;
}

.title-small p {
    font-size: 12px;
}

.info {
    text-decoration: none;
    color: black;
    background-color: var(--background-section);
    flex-basis: 25%;
    padding: 35px 0;
    text-align: center;
}

.work {
    position: relative;
}

/* ID selectors */
#background-profile {
    position: relative;
    top: 0;
    left: 0;
}

#profile-photo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 25%;
    height: 40%;
    border-radius: 50%;
    border: 5px solid white;
}

#standout {
    background-color: var(--background-color-menu);
    color: #2e4453;
}

#aboutme, #work, #contact {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}

#aboutme h2, #work h2, #contact h2 {
    flex-basis: 15%;
    border-right: solid 10px darkgray;
    background-color: var(--background-color-menu);
    color: var(--background-text);
    padding: 25px 5px;
    text-align: center;
    font-size: 25px;
}

#aboutme .aboutme, #work .work, #contact .contact {
    background-color: var(--background-section);
    flex-basis: 85%;
    justify-content: space-between;
    padding: 5px;
}

#project-1 {
    background-color: var(--background-section);
    flex-basis: 100%;
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
}

/* Hidden information displayed on hovering */
#phone:hover::after {
    display: block;
    content: "(915) 873-1327";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

#email:hover::after {
    display: block;
    content: "cesarg324@gmail.com";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

#linkedin:hover::after {
    display: block;
    content: "@cesaralonsogarcia";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

#github:hover::after {
    display: block;
    content: "@cesaralonsogarcia";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

/* Page Layout for Smartphones */
@media screen and (max-width: 450px) {
    nav {
        float: none;
        padding: 0 25px;
    }

    header h1 {
        font-size: 30px;
        padding: 25px 25px 0 25px;
    }

    nav ul {
        background-color: var(--background-color-menu);
        list-style: none;
    }
    
    nav ul li {
        padding: 10px 10px;
    }

    nav ul li a {
        padding: 10px 2px;
        font-size: 14px;
        text-align: center;
    }

    .background {
        padding: 15px 15px 0 15px;
    }

    /* Show only two projects per line */
    .project-row {
        flex-basis: 50%;
        margin:0;
        padding: 10px;
    }

    .paragraph {
        line-height: 1;
        font-size: 14px;
        text-align: justify;
    }

    .title {
        width: 22%;
        height: 11%;
        bottom: 15px;
        left: 20px;
    }
    
    .title-small {
        width: 78%;
        height: 10%;
        bottom: 15px;
        left: 20px;
    }
    
    .title h3 {
        font-size: 16px;
        bottom: 5px;
    }
    
    .title-small h3 {
        bottom: 2px;
        padding-top: 3px;
        font-size: 12px;
    }
    
    .title p, .title-small p {
        display: none;
    }
    
    /* Display the section title above the content */
    #aboutme h2, #work h2, #contact h2 {
        flex-basis: 100%;
        border-right: none;
        border-bottom: 5px solid darkgray;
        font-size: 18px;
        padding: 5px 0;
    }

    #aboutme .aboutme, #work .work, #contact .contact {
        flex-basis: 100%;
    }

    #project-1 {
        padding: 10px;
    }

    /* Disable hover action for smaller screens */
 /*   #phone:hover::after {
        display: none;
    }
    
    #email:hover::after {
        display: none;
    }
    
    #linkedin:hover::after {
        display: none;
    }
    
    #github:hover::after {
        display: none;
    } */
}