/* Variables definition */
:root {
    --default-padding: 25px;
    --background-color-menu: #2886c5;
    --background-color: #2e4453;
    --background-section: #dddcdc;
    --background-text: #dddcdc;
}

/* Universal selector */
* {
    font-family: Calibri, sans-serif;
    background-color: var(--background-color);
}

/* Element selectors */
header {
    background-color: var(--background-color-menu);
    color: var(--background-text);
}
header h1 {
    background-color: var(--background-color-menu);
    display: inline-block;
    padding: var(--default-padding);
    font-size: 30px;
}

nav {
    background-color: var(--background-color-menu);
    float: right;
    padding: var(--default-padding);
    margin-top: 15px;
}
nav ul {
    background-color: var(--background-color-menu);
    list-style: none;
}

nav ul li {
    background-color: var(--background-color-menu);
    display: inline-block;
    padding: 0 10px;
}

nav ul li a {
    background-color: var(--background-color-menu);
    text-decoration: none;
    color: #fff;
}

/* Class selectors */
.aboutme, .work, .contact {
    background-color: var(--background-section);
    display: flex;
    flex-flow: row wrap;
    padding: 0 5px;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    padding: var(--default-padding);
    width: 100%;
    height: 100%;
}

.paragraph {
    line-height: 1.5;
    margin: 10px 15px;
    font-size: 18px;
    text-align: justify;
    background-color: var(--background-section);
}

.project1 {
    background-color: var(--background-section);
    position: absolute;
}

.project-row-1, .project-row-2 {
    background-color: var(--background-section);
    flex-basis: 33%;
    padding: 15px;
}

.title {
    background-color: var(--background-color);
    position: absolute;
    width: 25%;
    height: 10%;
    bottom: 40px;
    left: 40px;
}

.info {
    text-decoration: none;
    color: black;
    background-color: var(--background-section);
    flex-basis: 25%;
    margin: 10px 0;
    text-align: center;
}

.work {
    position: relative;
}

/* ID selectors */
#figure {
    position: relative;
    top: 0;
    left: 0;
}
#background {
    position: relative;
    top: 0;
    left: 0;
    padding: var(--default-padding);
    width: 100%;
    height: 100%;
}

#profile-photo {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 25%;
    height: 40%;
    border-radius: 50%;
    border: 5px solid white;
}

#standout {
    background-color: var(--background-color-menu);
    color: #2e4453;
}

#aboutme, #work, #contact {
    padding: var(--default-padding);
    display: flex;
    flex-flow: row wrap;
}

#aboutme h2, #work h2, #contact h2 {
    flex-basis: 15%;
    border-right: solid 10px darkgray;
    background-color: var(--background-color-menu);
    color: var(--background-text);
    padding: 25px 5px;
    text-align: center;
    font-size: 24px;
}

#aboutme .aboutme, #work .work, #contact .contact {
    background-color: var(--background-section);
    flex-basis: 85%;
    justify-content: space-between;
    padding: 5px;
}

#project-1 {
    background-color: var(--background-section);
    flex-basis: 100%;
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
}

#project-1 h3 {
    bottom: 30px;
    left: 0px;
    background-color: var(--background-color);
    color: var(--background-text);
    font-size: 20px;
}

#project-1 p {
    bottom: 5px;
    left: 0px;
    background-color: var(--background-color);
    color: var(--background-text);
    font-size: 16px;
}

/* Hidden information displayed on hovering */
#phone:hover::after {
    display: block;
    content: "(915) 873-1327";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

#email:hover::after {
    display: block;
    content: "cesarg324@gmail.com";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

#linkedin:hover::after {
    display: block;
    content: "@cesaralonsogarcia";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

#github:hover::after {
    display: block;
    content: "@cesaralonsogarcia";
    color: black;
    border: dotted 2px black;
    padding: 5px;
}

/* Page Layout for Smartphones */
@media screen and (max-width: 768px) {
    nav {
        float: none;
        padding: 0 25px;
    }
    
    /* Display the section title above the content */
    #aboutme h2, #work h2, #contact h2 {
        flex-basis: 100%;
        border: none;
    }

    /* Show only two projects per line */
    .project-row-1, .project-row-2 {
        flex-basis: 50%;
        margin: 10px 0;
    }
    
    /* Disable hover action for smaller screens */
    #phone:hover::after {
        display: none;
    }
    
    #email:hover::after {
        display: none;
    }
    
    #linkedin:hover::after {
        display: none;
    }
    
    #github:hover::after {
        display: none;
    }
}